##### Importando Librerias

In [1]:
import os
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.externals import joblib
from sklearn import preprocessing

##### Cambiando directorio de trabajo

In [2]:
os.chdir(r"C:\Users\Fernando\Documents\STUFF\GALILEO\2-Statistical Learning ML\Final")
os.getcwd()

'C:\\Users\\Fernando\\Documents\\STUFF\\GALILEO\\2-Statistical Learning ML\\Final'

##### Carga de archivos

In [5]:
#Cargando los csvs a dataframe de Pandas
dataset = pd.read_csv('data_titanic_proyecto.csv')

#Mostrando columnas dentro del dataset
dataset.columns

Index(['PassengerId', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'passenger_class', 'passenger_sex',
       'passenger_survived'],
      dtype='object')

##### Escogiendo las features a utilizar en el modelo

In [8]:
#Se remueven: 'Ticket', 'Name', 'PassengerId' que no es informacion que ayude a predecir.
#'Cabin' puede tener influencia pero puede obtenerse esta informacion de otras variables como
#'fare' or 'class'
# Se removeran 'Embarked' por simplicidad.

# De las variables a usar, hay 177 registros sin la edad de la persona. Se removeran.
dataset[dataset.Age.isnull() == True]

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
5,6,"Moran, Mr. James",NaN,0,0,330877,8.4583,NaN,Q,Lower,M,N
17,18,"Williams, Mr. Charles Eugene",NaN,0,0,244373,13.0000,NaN,S,Middle,M,Y
19,20,"Masselmani, Mrs. Fatima",NaN,0,0,2649,7.2250,NaN,C,Lower,F,Y
26,27,"Emir, Mr. Farred Chehab",NaN,0,0,2631,7.2250,NaN,C,Lower,M,N
28,29,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,0,0,330959,7.8792,NaN,Q,Lower,F,Y
29,30,"Todoroff, Mr. Lalio",NaN,0,0,349216,7.8958,NaN,S,Lower,M,N
31,32,"Spencer, Mrs. William Augustus (Marie Eugenie)",NaN,1,0,PC 17569,146.5208,B78,C,Upper,F,Y
32,33,"Glynn, Miss. Mary Agatha",NaN,0,0,335677,7.7500,NaN,Q,Lower,F,Y
36,37,"Mamee, Mr. Hanna",NaN,0,0,2677,7.2292,NaN,C,Lower,M,Y
42,43,"Kraeff, Mr. Theodor",NaN,0,0,349253,7.8958,NaN,C,Lower,M,N
45,46,"Rogers, Mr. William John",NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,Lower,M,N
46,47,"Lennon, Mr. Denis",NaN,1,0,370371,15.5000,NaN,Q,Lower,M,N
47,48,"O'Driscoll, Miss. Bridget",NaN,0,0,14311,7.7500,NaN,Q,Lower,F,Y
48,49,"Samaan, Mr. Youssef",NaN,2,0,2662,21.6792,NaN,C,Lower,M,N
55,56,"Woolner, Mr. Hugh",NaN,0,0,19947,35.5000,C52,S,Upper,M,Y
64,65,"Stewart, Mr. Albert A",NaN,0,0,PC 17605,27.7208,NaN,C,Upper,M,N
65,66,"Moubarek, Master. Gerios",NaN,1,1,2661,15.2458,NaN,C,Lower,M,Y
76,77,"Staneff, Mr. Ivan",NaN,0,0,349208,7.8958,NaN,S,Lower,M,N
77,78,"Moutal, Mr. Rahamin Haim",NaN,0,0,374746,8.0500,NaN,S,Lower,M,N
82,83,"McDermott, Miss. Brigdet Delia",NaN,0,0,330932,7.7875,NaN,Q,Lower,F,Y
87,88,"Slocovski, Mr. Selman Francis",NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,Lower,M,N
95,96,"Shorney, Mr. Charles Joseph",NaN,0,0,374910,8.0500,NaN,S,Lower,M,N
101,102,"Petroff, Mr. Pastcho (""Pentcho"")",NaN,0,0,349215,7.8958,NaN,S,Lower,M,N
107,108,"Moss, Mr. Albert Johan",NaN,0,0,312991,7.7750,NaN,S,Lower,M,Y
109,110,"Moran, Miss. Bertha",NaN,1,0,371110,24.1500,NaN,Q,Lower,F,Y
121,122,"Moore, Mr. Leonard Charles",NaN,0,0,A4. 54510,8.0500,NaN,S,Lower,M,N
126,127,"McMahon, Mr. Martin",NaN,0,0,370372,7.7500,NaN,Q,Lower,M,N
128,129,"Peter, Miss. Anna",NaN,1,1,2668,22.3583,F E69,C,Lower,F,Y
140,141,"Boulos, Mrs. Joseph (Sultana)",NaN,0,2,2678,15.2458,NaN,C,Lower,F,N
154,155,"Olsen, Mr. Ole Martin",NaN,0,0,Fa 265302,7.3125,NaN,S,Lower,M,N
...,...,...,...,...,...,...,...,...,...,...,...,...
718,719,"McEvoy, Mr. Michael",NaN,0,0,36568,15.5000,NaN,Q,Lower,M,N
727,728,"Mannion, Miss. Margareth",NaN,0,0,36866,7.7375,NaN,Q,Lower,F,Y
732,733,"Knight, Mr. Robert J",NaN,0,0,239855,0.0000,NaN,S,Middle,M,N
738,739,"Ivanoff, Mr. Kanio",NaN,0,0,349201,7.8958,NaN,S,Lower,M,N
739,740,"Nankoff, Mr. Minko",NaN,0,0,349218,7.8958,NaN,S,Lower,M,N
740,741,"Hawksford, Mr. Walter James",NaN,0,0,16988,30.0000,D45,S,Upper,M,Y
760,761,"Garfirth, Mr. John",NaN,0,0,358585,14.5000,NaN,S,Lower,M,N
766,767,"Brewe, Dr. Arthur Jackson",NaN,0,0,112379,39.6000,NaN,C,Upper,M,N
768,769,"Moran, Mr. Daniel J",NaN,1,0,371110,24.1500,NaN,Q,Lower,M,N
773,774,"Elias, Mr. Dibo",NaN,0,0,2674,7.2250,NaN,C,Lower,M,N
776,777,"Tobin, Mr. Roger",NaN,0,0,383121,7.7500,F38,Q,Lower,M,N
778,779,"Kilgannon, Mr. Thomas J",NaN,0,0,36865,7.7375,NaN,Q,Lower,M,N
783,784,"Johnston, Mr. Andrew G",NaN,1,2,W./C. 6607,23.4500,NaN,S,Lower,M,N
790,791,"Keane, Mr. Andrew ""Andy""",NaN,0,0,12460,7.7500,NaN,Q,Lower,M,N
792,793,"Sage, Miss. Stella Anna",NaN,8,2,CA. 2343,69.5500,NaN,S,Lower,F,N
793,794,"Hoyt, Mr. William Fisher",NaN,0,0,PC 17600,30.6958,NaN,C,Upper,M,N
815,816,"Fry, Mr. Richard",NaN,0,0,112058,0.0000,B102,S,Upper,M,N
825,826,"Flynn, Mr. John",NaN,0,0,368323,6.9500,NaN,Q,Lower,M,N
826,827,"Lam, Mr. Len",NaN,0,0,1601,56.4958,NaN,S,Lower,M,N
828,829,"McCormack, Mr. Thomas Joseph",NaN,0,0,367228,7.7500,NaN,Q,Lower,M,Y
832,833,"Saad, Mr. Amin",NaN,0,0,2671,7.2292,NaN,C,Lower,M,N
837,838,"Sirota, Mr. Maurice",NaN,0,0,392092,8.0500,NaN,S,Lower,M,N
839,840,"Marechal, Mr. Pierre",NaN,0,0,11774,29.7000,C47,C,Upper,M,Y
846,847,"Sage, Mr. Douglas Bullen",NaN,8,2,CA. 2343,69.5500,NaN,S,Lower,M,N
849,850,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",NaN,1,0,17453,89.1042,C92,C,Upper,F,Y
859,860,"Razi, Mr. Raihed",NaN,0,0,2629,7.2292,NaN,C,Lower,M,N
863,864,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,8,2,CA. 2343,69.5500,NaN,S,Lower,F,N
868,869,"van Melkebeke, Mr. Philemon",NaN,0,0,345777,9.5000,NaN,S,Lower,M,N
878,879,"Laleff, Mr. Kristo",NaN,0,0,349217,7.8958,NaN,S,Lower,M,N
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,Lower,F,N

##### Validando datos nulos,  cambiando variables categoricas a One Hot encoded

In [24]:
RemoveAgeNAs  = dataset.dropna(subset=['Age'])
X =  RemoveAgeNAs[['passenger_sex', 'Age', 'Fare','Parch',
                     'SibSp','passenger_class']]                
Y = RemoveAgeNAs[['passenger_survived']]

#OneHotEncoding the Passenger_Sex, Class and Survived columns
le = preprocessing.LabelEncoder()
eSex = pd.DataFrame(le.fit_transform(X.iloc[:,0]), columns = ['passenger_sex'])
eClass = pd.DataFrame(le.fit_transform(X.iloc[:,5]), columns = ['passenger_class'])
eSurvived = pd.DataFrame(le.fit_transform(Y.iloc[:,0]), columns = ['passenger_survived'])

#Alligning indexes to X and Y original data
eSex = eSex.set_index(X.index)
eClass = eClass.set_index(X.index)
eSurvived = eSurvived.set_index(Y.index)

#Replacing original Passenger_Sex and Passenger_class cols for the one encoded
X.drop(labels=['passenger_sex', 'passenger_class'], axis="columns", inplace=True)
X['passenger_sex'] = eSex['passenger_sex']
X['passenger_class'] = eClass['passenger_class']

#Replacing original Survived col for the one encoded
Y.drop(labels=['passenger_survived'], axis="columns", inplace=True)
Y['passenger_survived'] = eSurvived['passenger_survived']

C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##### Separando datos en Entrenamiento (xTr | yTr), Validacion (xVa | yVa) y Prueba (xTs | yTs)

In [27]:
#Creating Train and Test set.
xTr, xTs, yTr, yTs = train_test_split(X, Y, test_size = 0.2, random_state = 0)
# xTr 569 rows -- xTs # 143 rows
# yTr 569 rows -- yTs # 143 rows

#Creating Validation set from Train set.
xTr, xVa, yTr, yVa = train_test_split(xTr, yTr, test_size = 0.2, random_state = 0)
# xTr & yTr # 455 rows
# xVa & yVa # 114 rows
# xTs & yTs # 143 rows
#features(X) = 6, labels(Y) = 1 col
xTr

      Age      Fare  Parch  SibSp  passenger_sex  passenger_class
585  18.0   79.6500      2      0              0                2
380  42.0  227.5250      0      0              0                2
487  58.0   29.7000      0      0              1                2
53   29.0   26.0000      0      1              0                1
716  38.0  227.5250      0      0              0                2
144  18.0   11.5000      0      0              1                1
424  18.0   20.2125      1      1              1                0
138  16.0    9.2167      0      0              1                0
791  16.0   26.0000      0      0              1                1
249  54.0   26.0000      0      1              1                1
393  23.0  113.2750      0      1              0                2
566  19.0    7.8958      0      0              1                0
788   1.0   20.5750      2      1              1                0
143  19.0    6.7500      0      0              1                0
751   6.0   12.4750      1      0              1                0
525  40.5    7.7500      0      0              1                0
852   9.0   15.2458      1      1              0                0
877  19.0    7.8958      0      0              1                0
651  18.0   23.0000      1      0              0                1
373  22.0  135.6333      0      0              1                2
582  54.0   26.0000      0      0              1                1
509  26.0   56.4958      0      0              1                0
135  23.0   15.0458      0      0              1                1
719  33.0    7.7750      0      0              1                0
293  24.0    8.8500      0      0              0                0
320  22.0    7.2500      0      0              1                0
671  31.0   52.0000      0      1              1                2
271  25.0    0.0000      0      0              1                0
804  27.0    6.9750      0      0              1                0
625  61.0   32.3208      0      0              1                2
..    ...       ...    ...    ...            ...              ...
58    5.0   27.7500      2      1              0                1
105  28.0    7.8958      0      0              1                0
374   3.0   21.0750      1      3              0                0
389  17.0   12.0000      0      0              0                1
823  27.0   12.4750      1      0              0                0
220  16.0    8.0500      0      0              1                0
175  18.0    7.8542      1      1              1                0
866  27.0   13.8583      0      1              0                1
586  47.0   15.0000      0      0              1                1
130  33.0    7.8958      0      0              1                0
484  25.0   91.0792      0      1              1                2
233   5.0   31.3875      2      4              0                0
228  18.0   13.0000      0      0              1                1
323  22.0   29.0000      1      1              0                1
748  19.0   53.1000      0      1              1                2
200  28.0    9.5000      0      0              1                0
687  19.0   10.1708      0      0              1                0
805  31.0    7.7750      0      0              1                0
16    2.0   29.1250      1      4              1                0
848  28.0   33.0000      1      0              1                1
319  40.0  134.5000      1      1              0                2
782  29.0   30.0000      0      0              1                2
754  48.0   65.0000      2      1              0                1
473  23.0   13.7917      0      0              0                1
879  56.0   83.1583      1      0              0                2
349  42.0    8.6625      0      0              1                0
314  43.0   26.2500      1      1              1                1
210  24.0    7.0500      0      0              1                0
322  30.0   12.3500      0      0              0                1
753  23.0    7.8958      0      0              1                0

[456 rows x 6 columns]

##### BootStrapping

En caso de haber sido necesario,  se hubieran generado N muestras usado bootstrapping con un cÃ³digo similar al siguiente. En este, generamos 4 muestras distintas de tamaÃ±o igual a los datos de entrenamiento xTr, usando muestreo aleatorio con reemplazo y almacenando los 4 sets nuevos en un diccionario *boots*.

In [28]:
boots = {}
#BootStrapping - Generating i samples (in this case 4, can do as many as needed from same dataset xTr)
for i in range(1,5):
    new = xTr.sample(frac=1,replace=True) 
    boots[i] = new

##### Creando funciones de almacenamiento

Se crea una variable con el nombre y ubicaciÃ³n del archivo de excel para despliegue del dataframe. Luego creamos un Panda dataframe para almacenar datos de los experimentos.

In [29]:
#Configuring the saving path and name of the Excel sheet with the experiments logs.
savetopath = "C:\\Users\\Fernando\\Documents\\STUFF\\GALILEO\\2-Statistical Learning ML\\Final\\EvaluacionDeExperimentos.xlsx"

#Defining function that will save the -data- received into an excel with name 
def utoExcel(data):
    data.to_excel(savetopath,
                  sheet_name='Sheet1', startrow=0, startcol=0)

#Creating an empty dataframe with to store all logs of the different experiments. We will add any new experiment
#and its data (model, variables used and error metrics) and then use the function utoExcel to save it into an excel.
notebook = pd.DataFrame(columns = ["ConfigurationString","Accuracy","Error","precision","Recall","f1-Score"])
notebook

Empty DataFrame
Columns: [ConfigurationString, Accuracy, Error, precision, Recall, f1-Score]
Index: []

##### Creando FunciÃ³n para guardar los datos de cada experimento
Se recibe el modelo, la cadena de configuraciÃ³n, los valores Y reales y los Y predicciÃ³n del modelo. Se evaluan las mÃ©tricas de error y se guardan en el "notebook" creado anteriormente. 

AdemÃ¡s, se guardan los datos del modelo en un archivo .pkl (a excepciÃ³n de los modelos creados en Tensorflow, que debe indicarse al llamar la funciÃ³n usando el parÃ¡metro tf=FALSE/TRUE.

In [32]:
def logXperiment(fittedM, cStr, vlLbls, y_pred, tf=False):
     #Evaluating Confusion Matrix for Model
    from sklearn.metrics import confusion_matrix  
    m = confusion_matrix(vlLbls, y_pred)
    global notebook
    #Calculating Model Metrics using the False and True Positives/Negatives from confusion_matrix
    allsum = m[0][0] + m[1][1] + m[1][0] + m[0][1]

    acc = (m[0][0]+m[1][1])/allsum
    err = 1- (m[0][0]+m[1][1])/allsum
    pre = m[0][0]/(m[0][0]+m[0][1])
    rec = m[0][0]/(m[0][0]+m[1][0])
    f1 = 2*(rec*pre)/(rec+pre)
    
    #Saving experiments and its performance in the notebook
    notebook = notebook.append(pd.DataFrame([[cStr,acc,err,pre,rec,f1]], columns=notebook.columns), ignore_index=True)
    #Saving pkl file into Logs folder. Skip if it is a model from TensorFlow.
    if tf == False:
        os.chdir(r"C:\Users\Fernando\Documents\STUFF\GALILEO\2-Statistical Learning ML\Final\Logs")
        joblib.dump(fittedM, f'{cStr}.pkl')
    return

##### Creando los modelos
Se crean los modelos y en cada uno, se almacenan cadenas de configuracion de cada experimento incluyendo el modelo, hyper-parÃ¡metros y variables usadas. Cada cadena tiene el formato siguiente:

*modelo_lr=#.#_HyperparametrosDelModelo_Var1_Var2_..._VarN*

##### Ejemplo: 
Usando un Modelo de Regresion Logistica con Learning Rate = 0.012, Regularizacion L1, Lambda = 0.1, Variables: Age, Fare, Parch, SibSp, passenger_sex & passenger_class, genera una cadena de configuraciÃ³n como la siguiente:

###### tTF.LR_lr=0.012_L1_Lmd=0.1_Age_Fare_Parch_SibSp_passenger_sex_passenger_class

##### Support Vector Machine

In [54]:
def tSVM(trFeats,trLbls, vlFeats, vlLbls,predPoint=None,c=1, gamma=1):
    #kernel = 'linear'
    from sklearn.svm import SVC
    svclassifier = SVC(kernel='linear', C=c, gamma=gamma)  
    svclassifier.fit(trFeats, trLbls)
    y_pred = svclassifier.predict(vlFeats)
    
    #config_string - If list contains numbers, use myString = ','.join(map(str, myList)) 
    cstring = f'tSVM_c={c}_g={gamma}_{"_".join(xTr.columns.values.tolist())}'
    
   #Logging
    logXperiment(fittedM=svclassifier,cStr=cstring,vlLbls=vlLbls, y_pred=y_pred)
    if predPoint == None:
        return
    else:
        return svclassifier.predict(predPoint)

##### Naive Bayes

In [91]:
def tNB(trFeats,trLbls, vlFeats, vlLbls,predPoint=None):
    #Naive Bayes from scikit
    from sklearn.naive_bayes import GaussianNB
    nb = GaussianNB()
    # Train the model using the xTr y yTr
    nb.fit(trFeats,trLbls)
    
    y_pred = nb.predict(vlFeats)
    
    #config_string - If list contains numbers, use myString = ','.join(map(str, myList)) 
    cstring = f'tNB__{"_".join(xTr.columns.values.tolist())}'
    
   #Logging
    logXperiment(fittedM=nb,cStr=cstring,vlLbls=vlLbls, y_pred=y_pred)
    
    return nb.predict(predPoint)

##### Decision Trees

In [55]:
def tDT(trFeats,trLbls, vlFeats, vlLbls,predPoint=None, plotTree=False):
    #Decision Tree
    from sklearn.tree import DecisionTreeClassifier  
    dtclassifier = DecisionTreeClassifier()  
    dtclassifier.fit(trFeats, trLbls)  
    y_pred = dtclassifier.predict(vlFeats)
    
    #config_string - If list contains numbers, use myString = ','.join(map(str, myList)) 
    cstring = f'tDT__{"_".join(xTr.columns.values.tolist())}'
    
   #Logging
    logXperiment(fittedM=dtclassifier,cStr=cstring,vlLbls=vlLbls, y_pred=y_pred)
    
    #Plotting if needed
    #if plotTree == True:
    #    from sklearn import tree
    #    tree.plot_tree(dtclassifier.fit(trFeats, trLbls))
    #returns last entry in the notebook dataframe
    return dtclassifier.predict(predPoint)

##### RegresiÃ³n Logistica con TensorFlow

In [56]:
def tLogReg(xTr, xVal,yTr, yVal, nfeats, predPoint=None, epochs=100,lr=0.001, L=2, Lambda=0.01):
    import tensorflow as tf
    tf.reset_default_graph() #Resets the graph
    graph = tf.Graph()#Assigns/Creates graph object into variable = graph
    
    #Defines graph and sets it as default in TF. Graph for a Linear Regression
    with graph.as_default():
        #Defining TF place holders for X (features) and Y(topredict)
        X = tf.placeholder("float",[None, nfeats], name="X") 
        Y = tf.placeholder("float", [None, 1],name="Y")
        
        #Defining TF place holder for the learning rate    
        lrate = tf.Variable(0.001,"float", name="lrate")
        #creates variables. W is a tensor of shape nfeats rows and 1 column (to allow matrix mult with X)
        #X = [z, nfeats]  W = [nfeats, 1]   -- X * W = [z,1]
        W = tf.get_variable("W", [nfeats, 1], initializer = tf.contrib.layers.xavier_initializer())
        B = tf.get_variable("B", [1], initializer = tf.zeros_initializer())
        
        with tf.name_scope("Hypothesis"):
            #Creates and stores the hypothesis function in node
            hyp = tf.nn.sigmoid(tf.add(tf.matmul(X,W, name="Hyp_X_by_W"), B,name="Hyp_XW_plus_B"))
            
        with tf.name_scope("Cost"):
            #Creates and stores the cost function in node Cost
            cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits = hyp, labels = Y))
            #applies L1 or L2 depending on L function parameter value
            if L == 2:
                regularizer = tf.nn.l2_loss(W)
            elif L == 1:
                l1regularizer = tf.contrib.layers.l1_regularizer(scale=Lambda, scope=None)
                weights = tf.trainable_variables()
                regularizer = tf.contrib.layers.apply_regularization(l1regularizer, weights)
                
            cost_op = tf.reduce_mean(cost + Lambda * regularizer)

        #with tf.name_scope("Grad_Desc_Opt"):
        #    cost_summary = tf.summary.scalar("CostSummary", cost)
        
        #Specifying the optimizer with learning rate  = lr
        lrate = lr
        optimizer = tf.train.AdamOptimizer(lrate).minimize(cost_op)
        init = tf.global_variables_initializer()
        
    cost_history = np.empty(shape=[1],dtype=float)
    with tf.Session(graph=graph) as sess:
        sess.run(init)
        
        for epoch in range(epochs):
            _, c = sess.run([optimizer, cost_op], feed_dict={X: xTr, Y: yTr})
            if epoch % 20 == 0:
                print(f'Epoch= {epoch} cost_op={c}, W= {sess.run(W)}, b= {sess.run(B)}')
                cost_history = np.append(cost_history, c)
            
        # Calculate the predictions hyp > 0.5?
        y_pred = tf.to_float(tf.greater(hyp, 0.5))
        # Calculate accuracy on the test set
        #accuracy = tf.reduce_mean(tf.to_float(tf.equal(Y, correct_prediction)))
        #print ("Train Accuracy:", accuracy.eval({X: xTr, Y: yTr}))
        #print ("Test Accuracy:", accuracy.eval({X: xTs, Y: yTs}))
        
        #Logging
        cstring = f'tTF.LR_lr={lr}_L{L}_Lmd={Lambda}_{"_".join(xTr.columns.values.tolist())}'
        
        Z = sess.run([W, B],feed_dict={X: xTr, Y: yTr})
        Z = np.asarray(Z, dtype=object)
        Z.dump(f'{cstring}.npy')
                
        logXperiment(fittedM=Z, cStr=cstring, vlLbls=yVal, y_pred=y_pred.eval({X: xVal}), tf=True)
        
        if predPoint == None:
            return
        else:
            return y_pred.eval({X: predPoint})

##### K-Folds
Desde mi punto de vista, esta tÃ©cnica es una versiÃ³n completa de la separaciÃ³n de datos originales en set de entrenamiento y prueba. Recordando, nosotros hicimos acÃ¡, una separaciÃ³n de 3 sets> Un grupo de datos para entrenar el modelo, otro para validarlo y un Ãºltimo, que aÃºn no usamos, el de prueba.

Sin embargo, este aproach original, puede mejorarse al tomar K diferentes sets de prueba, del mismo tamaÃ±o todos, en lugar de solo 1 como lo hicimos acÃ¡. Aunque la selecciÃ³n de los datos de prueba la hicimos de forma aleatoria, el crear varios sets diferentes de prueba, nos permite evaluar el modelo con K diferentes sets de prueba y por consiguiente, estar mÃ¡s seguros de la efectividad y funcionalidad del modelo previo a lanzarlo a producciÃ³n. 

AcÃ¡, en lugar de tomar 1 solo grupo para pruebas del 20% del set original de datos, pudimos haber hecho esto 5 veces, y resultado con 5 sets de entrenamiento y prueba y luego hacer las evaluaciones del modelo. El modelo es tan bueno como el promedio de su comportamiento en estos 5 sets.

##### ExperimentaciÃ³n y Entrenamiento con Diferentes Hiper-parÃ¡metros

Support Vector Machine: Probando valores de gamma y c

In [59]:
#Testing tSVM
for i in np.arange(1, 2, 0.1):
    for j in np.arange(1, 10, 1):
        tSVM(trFeats=xTr,trLbls=yTr, vlFeats=xVa, vlLbls=yVa,c=i, gamma=j)

C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression TF: alternando tipo y valores de regularizaciÃ³n

In [52]:
tLogReg(xTr=xTr, xVal=xVa,yTr=yTr, yVal=yVa, nfeats=len(xTr.columns), epochs=200,lr=0.002, 
        L=2, Lambda=0.1)

WARNING:tensorflow:From C:\Users\Fernando\Anaconda3\envs\galieo.python\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

WARNING: The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
If you depend on functionality not listed there, please file an issue.

Epoch= 0 cost_op=0.9334260821342468, W= [[ 0.1808345 ]
 [-0.10749652]
 [ 0.3227378 ]
 [-0.45729735]
 [-0.13891686]
 [-0.1180155 ]], b= [-0.00199993]
Epoch= 20 cost_op=0.9040385484695435, W= [[ 0.13879412]
 [-0.14962612]
 [ 0.28300813]
 [-0.41752103]
 [-0.16459806]
 [-0.08221034]], b= [-0.04405146]
Epoch= 40 cost_op=0.8199207782745361, W= [[ 0.08855045]
 [-0.19985685]
 [ 0.24331173]
 [-0.37957522]
 [-0.21605596]
 [-0.08946923]], b= [-0.09346629]
Epoch= 60 cost_op=0.7425643801689148, W= [[ 0.03880535]
 [-0.24291593]
 [ 0.2077327 ]
 [-0.34210566]
 [-0.26099727]
 [-0.09553716]], b= [-0.1416243]
Epoch= 80 cost_op=0.7182753682136536, W= [[ 0.00582751]
 [-0.26537818]
 [ 0.17662077]
 [-0.30510226]
 [-0.25900885]
 [-0.06593519]], b= [-0.17280965]
Epoch= 100 cost_op=0.7111183404922485, W= [[-0.01153097]
 [-0.27353892]
 [ 0.14855623]
 [-0.27013233]
 [-0.22228484]
 [-0.03584557]], b= [-0.18948077]
Epoch= 120 cost_op=0.7073633074760437, W= [[-0.02246919]
 [-0.27632403]
 [ 0.12336758]
 [-0.23774719]
 [-0.18149479]
 [-0.01858775]], b= [-0.2003241]
Epoch= 140 cost_op=0.7048885822296143, W= [[-0.03084712]
 [-0.27696878]
 [ 0.1011233 ]
 [-0.20799506]
 [-0.1455693 ]
 [-0.01151533]], b= [-0.20889033]
Epoch= 160 cost_op=0.7031333446502686, W= [[-0.03789771]
 [-0.27643985]
 [ 0.08181476]
 [-0.18082179]
 [-0.1157499 ]
 [-0.00902772]], b= [-0.21630454]
Epoch= 180 cost_op=0.7018511295318604, W= [[-0.04407539]
 [-0.27508354]
 [ 0.06534319]
 [-0.1561573 ]
 [-0.09163843]
 [-0.007743  ]], b= [-0.2229759]
WARNING:tensorflow:From <ipython-input-49-76cebe475be9>:52: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

Arboles de DecisiÃ³n

In [60]:
#Testing DTs
w = pd.DataFrame([xTs.iloc[25,:]])
tDT(trFeats=xTr,trLbls=yTr, vlFeats=xVa, vlLbls=yVa,plotTree=False, predPoint=w)

array([1])

notebook

In [61]:
notebook

,ConfigurationString,Accuracy,Error,precision,Recall,f1-Score
0,tTF.LR_lr=0.002_L2_Lmd=0.1_Age_Fare_Parch_SibS...,0.573913,0.426087,1.000000,0.573913,0.729282
1,tDT__Age_Fare_Parch_SibSp_passenger_sex_passen...,0.747826,0.252174,0.772727,0.784615,0.778626
2,tSVM_c=1.0_g=1_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
3,tSVM_c=1.0_g=2_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
4,tSVM_c=1.0_g=3_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
5,tSVM_c=1.0_g=4_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
6,tSVM_c=1.0_g=5_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
7,tSVM_c=1.0_g=6_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
8,tSVM_c=1.0_g=7_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
9,tSVM_c=1.0_g=8_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
10,tSVM_c=1.0_g=9_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
11,tSVM_c=1.1_g=1_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
12,tSVM_c=1.1_g=2_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
13,tSVM_c=1.1_g=3_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
14,tSVM_c=1.1_g=4_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
15,tSVM_c=1.1_g=5_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
16,tSVM_c=1.1_g=6_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
17,tSVM_c=1.1_g=7_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
18,tSVM_c=1.1_g=8_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
19,tSVM_c=1.1_g=9_Age_Fare_Parch_SibSp_passenger_...,0.739130,0.260870,0.848485,0.736842,0.788732
20,tSVM_c=1.2000000000000002_g=1_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
21,tSVM_c=1.2000000000000002_g=2_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
22,tSVM_c=1.2000000000000002_g=3_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
23,tSVM_c=1.2000000000000002_g=4_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
24,tSVM_c=1.2000000000000002_g=5_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
25,tSVM_c=1.2000000000000002_g=6_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
26,tSVM_c=1.2000000000000002_g=7_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
27,tSVM_c=1.2000000000000002_g=8_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
28,tSVM_c=1.2000000000000002_g=9_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
29,tSVM_c=1.3000000000000003_g=1_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
...,...,...,...,...,...,...
63,tSVM_c=1.6000000000000005_g=8_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
64,tSVM_c=1.6000000000000005_g=9_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
65,tSVM_c=1.7000000000000006_g=1_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
66,tSVM_c=1.7000000000000006_g=2_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
67,tSVM_c=1.7000000000000006_g=3_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
68,tSVM_c=1.7000000000000006_g=4_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
69,tSVM_c=1.7000000000000006_g=5_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
70,tSVM_c=1.7000000000000006_g=6_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
71,tSVM_c=1.7000000000000006_g=7_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
72,tSVM_c=1.7000000000000006_g=8_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
73,tSVM_c=1.7000000000000006_g=9_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
74,tSVM_c=1.8000000000000007_g=1_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
75,tSVM_c=1.8000000000000007_g=2_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
76,tSVM_c=1.8000000000000007_g=3_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
77,tSVM_c=1.8000000000000007_g=4_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
78,tSVM_c=1.8000000000000007_g=5_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
79,tSVM_c=1.8000000000000007_g=6_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
80,tSVM_c=1.8000000000000007_g=7_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
81,tSVM_c=1.8000000000000007_g=8_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
82,tSVM_c=1.8000000000000007_g=9_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
83,tSVM_c=1.9000000000000008_g=1_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
84,tSVM_c=1.9000000000000008_g=2_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
85,tSVM_c=1.9000000000000008_g=3_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
86,tSVM_c=1.9000000000000008_g=4_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
87,tSVM_c=1.9000000000000008_g=5_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
88,tSVM_c=1.9000000000000008_g=6_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
89,tSVM_c=1.9000000000000008_g=7_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
90,tSVM_c=1.9000000000000008_g=8_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
91,tSVM_c=1.9000000000000008_g=9_Age_Fare_Parch_S...,0.739130,0.260870,0.848485,0.736842,0.788732
92,tDT__Age_Fare_Parch_SibSp_passenger_sex_passen...,0.730435,0.269565,0.757576,0.769231,0.763359

##### Carga y Prueba de Modelos Seleccionados

In [63]:
os.chdir(r"C:\Users\Fernando\Documents\STUFF\GALILEO\2-Statistical Learning ML\Final\Logs")
svm = joblib.load('tSVM_c=1_g=0.1_Age_Fare_Parch_SibSp_passenger_sex_passenger_class.pkl')
dt = svm_model = joblib.load('tDT__Age_Fare_Parch_SibSp_passenger_sex_passenger_class.pkl')

array([423, 177, 305, 292, 889, 595, 637,  54, 456, 110, 287, 315, 691,
       811, 861,  15, 239, 644, 394, 795, 131, 346,   9, 477, 606, 469,
       325,  72, 724,  40, 382, 824, 682, 591, 614, 197,   1, 512, 640,
       830, 225, 391, 621, 102, 756, 777, 261, 655, 590, 403, 822, 345,
       666, 218, 772, 729, 446, 442, 570,  35, 332, 631, 312, 441, 504,
       251, 609, 812, 297,  97, 212, 390, 417, 558, 195, 681, 677,  67,
       422, 658, 803, 599, 339, 506,  11,  89, 616, 885, 318, 626, 151,
       296, 649, 787, 829, 850, 412, 702, 810, 657, 142, 430, 706, 583,
       291,  66, 310, 544, 779, 266,  51, 620,  63, 450, 438, 769,  21,
       860,  98,  84, 715, 874,  69, 355, 262, 518, 618, 771, 818, 327,
       366, 338, 377, 701, 607, 421, 215, 448, 308, 379, 123, 471, 615],
      dtype=int64)

In [90]:
predictions = pd.DataFrame({'passenger#':np.asarray(xTs.index),'SVM':svm.predict(xTs),'DT':dt.predict(xTs)})
predictions

     passenger#  SVM  DT
0           423    1   1
1           177    1   1
2           305    0   1
3           292    0   0
4           889    0   0
5           595    0   0
6           637    0   0
7            54    0   0
8           456    0   0
9           110    0   0
10          287    0   0
11          315    1   1
12          691    1   1
13          811    0   0
14          861    0   0
15           15    1   1
16          239    0   0
17          644    1   1
18          394    1   1
19          795    0   0
20          131    0   0
21          346    1   1
22            9    1   1
23          477    0   0
24          606    0   1
25          469    1   1
26          325    1   1
27           72    0   0
28          724    0   0
29           40    1   0
..          ...  ...  ..
113         450    0   0
114         438    0   1
115         769    0   0
116          21    0   0
117         860    0   0
118          98    1   1
119          84    1   1
120         715    0   0
121         874    1   1
122          69    0   0
123         355    0   0
124         262    0   0
125         518    1   1
126         618    1   1
127         771    0   0
128         818    0   0
129         327    1   1
130         366    1   1
131         338    0   0
132         377    0   0
133         701    0   1
134         607    0   0
135         421    0   0
136         215    1   1
137         448    1   1
138         308    0   0
139         379    0   0
140         123    1   1
141         471    0   0
142         615    1   1

[143 rows x 3 columns]

#### Conclusiones y Recomendaciones

- El proyecto aunque incompleto, siento que me dejÃ³ bastante experiencia y aclarÃ© cosas que no tenÃ­a claras. La mejor forma de aprender es sufriendo un poco, o bastante y explorar y buscar soluciones por uno mismo.


- Considero que hice no menos de 500 consultas en Google, desde Tensores, sesiones hasta como combinar columnas en Pandas o hacer hot encoding. Para casi todo encontrÃ© respuesta en StackOverflow principalmente.


- Las mÃ©tricas de error almacenadas en excel, y su respectiva selecciÃ³ creo que puede aplicarsele un factor o peso a cada mÃ©trica sobre 100%. De esta forma, dado que para cada problema los valores de las mÃ©tricas tienen mÃ¡s o menos importancia, puede darse mÃ¡s peso a Recall por ejemplo que a Error. Se puede entonces agregar una columna en el dataframe con esta ponderaciÃ³n calculada y rankear luego para obtener los mejores N modelos.


- Mi mayor dificultad fue llevar a cabo las predicciones puntuales. Por alguna razÃ³n, solo el modelo de Arboles de decisiones aceptÃ³ que le enviara un dataframe de Pandas. Los otros 2 modelos, no me aceptaron arrays, matrices o dataframes para enviar la obvervaciÃ³n puntual. El error que obtenÃ­a era:


- Tener varios modelos es Ãºtil para hacer predicciones mÃ¡s certeras. Es como unir fuerzas para llegar a un consenso.